.center {
    text-align: center;
}

.center-l{
    text-align: center;
    font-size:40px;
}

.order-table{
    width: 100%;
}
.order-table td{
    width: 50%;
    padding: 5px;
}
.order-table tr td:first-child {
    text-align: right;
}

.order-table tr td:last-child {
    text-align: left;
}

.register-table {
    width: 100%;
}

.register-table td {
    width: 50%;
    padding: 5px;
}

.register-table tr td:first-child {
    text-align: right;
}

.register-table tr td:last-child {
    text-align: left;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
}

#login {
    padding: 0 30vw;
}

#login input {
    display: block;
    width: 95%;
}

header{

    display:flex;
    background: #a0aec0;

}

.logo{
    width:80%
}


.profile{
    display: flex;
    align-items: end;
    justify-content: end;
   text-align: right;

}

.profile p {
    margin: 0;

}


.bento-containter{

    display: flex;
     flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}



.bento{

    border: #9c9c9c solid 1px;
    margin: 10px 20px;
    width: 15%;
    position: relative;
}

.bento a{
    text-decoration: none;
}


nav {
    text-align: center;
}

nav ul{

    margin: 0;

}

nav ul li{

    display: inline-block;
    list-style-type: none;
    width: 20%;
    background: green;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-decoration: none;
}

#search-block {
    text-align: center;
}

#search-block input {
    display: inline-block;
    width: 50%;
}

#main{
    display: flex;
}




#main-nav {
    border-right: #111111 solid 1px;
}

#main-nav li {
    list-style-type: none;
    width: 160px;
}

.subview {
    width: 100%;
    text-align: center;
}


.inline-input {
    width: 276px !important;
    margin: 10px 0;
}


.paginate {
    text-align: center;
}

.paginate ul li {
    display: inline-block;
    width: 32px;
    height: 26px;
    list-style-type: none;
    border: #111 solid 1px;
}

.paginate a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}


.favor{
    display: flex;
    position: absolute;
    top: -19px;
    right: -19px;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: #9c9c9c solid 1px;
    border-radius:50% ;
    background: #ffffff;
    cursor: pointer;
}

.favor i{
    color: #9c9c9c;
}

.favor.active{
    border-color: #ff0000;
}

.favor.active i{
    color: #ff0000;
}

.alert-msg{
    margin: 0 30%;
    border: #111111 solid 1px;
    text-align: center;
}

.cart i {
    width: 50px;
    height: auto;
}

#cart-item-controller {
    flex-grow: 1;
}

#cart-item-controller .bento {
    width: 22%;
}

#cart-btn-controller {
    width: 500px;
}



/** amazon */
.a-section {
    margin-bottom: 22px;
}

.a-box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}

.a-box .a-box-inner {
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}

.a-padding-extra-large {
    padding: 20px 26px!important;
}

.a-spacing-small, .a-ws .a-ws-spacing-small {
    margin-bottom: 10px!important;
}

.a-spacing-base, .a-ws .a-ws-spacing-base {
    margin-bottom: 14px!important;
}

.a-row {
    width: 100%;
}

label, legend {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

.a-row .a-span12, .a-span12, .a-ws .a-row .a-ws-span12, .a-ws .a-ws-span12 {
    width: 100%;
    margin-right: 0;
}

.a-input-text, input[type=text], input[type=number], input[type=tel], input[type=password], input[type=date], input[type=email], input[type=search] {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
}

.a-button-span12 {
    width: 100%!important;
}
.a-button-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.a-button {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}

.a-button-primary .a-button-inner {
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
}

.a-button-primary .a-button-inner {
    background: #f3d078;
    background: -webkit-linear-gradient(top,#f7dfa5,#f0c14b);
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
}
.a-button .a-button-inner {
    background: #eff0f3;
    background: -webkit-linear-gradient(top,#f7f8fa,#e7e9ec);
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
}
.a-button-inner {
    display: block;
    position: relative;
    overflow: hidden;
    height: 29px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
    border-radius: 2px;
}

element.style {
}
.a-ember input, .a-ember select, .a-ember textarea {
    font-family: "Amazon Ember",Arial,sans-serif;
}
button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}
.a-button-input {
    position: absolute;
    background-color: transparent;
    color: transparent;
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: .01;
    outline: 0;
    overflow: visible;
    z-index: 20;
}

.a-button-primary .a-button-text {
    color: #111;
}
.a-ember .a-button-text {
    font-family: "Amazon Ember",Arial,sans-serif;
}
.a-button .a-button-text {
    color: #111;
}
.a-button-text {
    background-color: transparent;
    border: 0;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 13px;
    line-height: 29px;
    margin: 0;
    outline: 0;
    padding: 0 10px 0 11px;
    text-align: center;
    white-space: nowrap;
}
